.TipsData {
  max-width: 386px;
  width: 100%;

  label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 46px;
    }

    form {
      margin-top: 20px;

      &[name='tipAmount'] {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        input,
        button {
          width: 118px;
        }

        @media (max-width: 920px) {
          justify-content: center;

          input,
          button {
            width: calc(118px + (50% - 126px));
          }
        }
      }

      input {
        height: 48px;
        width: 100%;
      }
    }
  }
}
