@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Space Mono', sans-serif;
  margin: 0;
  background: #c5e4e7;
  height: 100vh;
}

button {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
}

input {
  border: none;
  background: #f3f8fb;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  color: #12393a;
  font-size: 24px;
  text-align: center;
  padding: 0 10px;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number']:focus {
  outline: none !important;
  border: 2px solid hsl(172, 67%, 45%);
}

input[type='number']:focus::-webkit-input-placeholder {
  color: transparent;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.content {
  background: #fff;
  border-radius: 20px;
  margin: 88px 0;
  padding: 30px 30px 30px 50px;
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 920px) {
  .mainContainer {
    margin-top: 32px;
  }

  .content {
    margin: 24px 0 0;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}
